<div class="page">

<div> <%= render 'menu' %> </div>

  <div class="container">

    <div class="row">

      <div class="col-8">

        <h1>
          <span>  <%= @cocktail.name %></span>
        </h1>
        <div>

          <h2> Add ingredients </h2>
          <hr></hr>

          <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.association :ingredient, as: :select, class: "label"%>
          <%= f.input :description, class: "label" %>
          <%= f.button :submit, class: "btn-completion"%>
          <% end %>
        </div>

        <div id="les-cta">
          <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail), class: "edit-c" %>
          <%= link_to 'See all coktails', cocktails_path, class: "see-all" %>
        </div>

      </div>

      <div class="col-4">
        <div class="test">
        <%= cl_image_tag @cocktail.photo.key, height: 225, width: 300, crop: :fill %>
        </div>
          <h2> Ingredients </h2>
          <hr></hr>

        <ul class="list-group">
          <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item"><%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash"></i>
          <% end %>
          </li>
          <% end %>

        </ul>

      </div>

    </div>
  </div>
</div>

